<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Karttasovellus</title>
  <meta name="description" content="Opinnäytetyö">
  <meta name="author" content="Tapio Jokinen">

  <link rel="icon" href="data:,">

  <link rel="stylesheet" href="../static/css/map.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/sideBar.css">


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdAklHceZcpfkqtXPzMa6dwuhB1a0XpgI"></script>
</head>

<body>
    <div id="map"></div>

    <div id="container">





      <div class="container-traffic">
        <div class="container-button">
          <button class="button-show-hide" id="button-show-hide-cars" type="button">Cars</button>
        </div>
        <div class="container-errors" id="error-datepicker-cars">
          <span id="error-datepicker-cars-text"></span>
        </div>
        <div class="container-datepicker" id="container-datepicker-cars">
          <div class="container-datepicker-start">
            <span>Start: </span>
            <input id="date-start-cars" type="date" min="2020-01-01">
            <input id="time-start-cars" type="time" value="00:00">
          </div>
          <div class="container-datepicker-end">
            <span>End: </span>
            <input id="date-end-cars" type="date">
            <input id="time-end-cars" type="time" value="00:00">
          </div>
          <button class="button-search" id="button-search-cars">Search</button>
        </div>
        <div class="container-data" id="container-data-cars">
          <ul id="data-cars"></ul>
        </div>
      </div>





      <div class="container-traffic">
        <div class="container-button">
          <button class="button-show-hide" id="button-show-hide-bicycles" type="button">Bicycles</button>
        </div>
        <div class="container-errors" id="error-datepicker-bicycles">
          <span id="error-datepicker-bicycles-text"></span>
        </div>
        <div class="container-datepicker" id="container-datepicker-bicycles">
          <div class="container-datepicker-start">
            <span>Start: </span>
            <input id="date-start-bicycles" type="date" min="2020-01-01">
            <input id="time-start-bicycles" type="time" value="00:00">
          </div>
          <div class="container-datepicker-end">
            <span>End: </span>
            <input id="date-end-bicycles" type="date">
            <input id="time-end-bicycles" type="time" value="00:00">
          </div>
          <button class="button-search" id="button-search-bicycles">Search</button>
        </div>
        <div class="container-data" id="container-data-bicycles">
          <ul id="data-bicycles"></ul>
        </div>
      </div>





      <div class="container-traffic">
        <div class="container-button">
          <button class="button-show-hide" id="button-show-hide-pedestrians" type="button">Pedestrians</button>
        </div>
        <div class="container-errors" id="error-datepicker-pedestrians">
          <span id="error-datepicker-pedestrians-text"></span>
        </div>
        <div class="container-datepicker" id="container-datepicker-pedestrians">
          <div class="container-datepicker-start">
            <span>Start: </span>
            <input id="date-start-pedestrians" type="date" min="2020-01-01">
            <input id="time-start-pedestrians" type="time" value="00:00">
          </div>
          <div class="container-datepicker-end">
            <span>End: </span>
            <input id="date-end-pedestrians" type="date">
            <input id="time-end-pedestrians" type="time" value="00:00">
          </div>
          <button class="button-search" id="button-search-pedestrians">Search</button>
        </div>
        <div class="container-data" id="container-data-pedestrians">
          <ul id="data-pedestrians"></ul>
        </div>
      </div>




      <div id="container-bottom-text">
        <span>Abbreviations:</span>
        <br>
        <span>AK/AP=Car towards/away from downtown.</span>
        <br>
        <span>PK/PP=Bicycle towards/away from downtown.</span>
        <br>
        <span>JK/JP=Pedestrian towards/away from downtown.</span>
      </div>
    </div>

    <div id="container-link-to-data">
      <button id="button-link-to-data" onClick="window.open('https://www.avoindata.fi/data/fi/dataset/turun-seudun-liikennemaaria','_blank');">Link to data</button>
    </div>
    
    <script src="{{ url_for('static', filename='js/totalTraffic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fixTime.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clearDrawnObjects.js') }}"></script>
    <script src="{{ url_for('static', filename='js/latestValues.js') }}"></script>
    <script src="{{ url_for('static', filename='js/filterLocations.js') }}"></script>
    <script src="{{ url_for('static', filename='js/drawAreasOnMap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cars.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bicycles.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pedestrians.js') }}"></script>
    <script src="{{ url_for('static', filename='js/googleMaps.js') }}"></script>
</body>
</html>